@import './common.scss';
.carousel {
  .carousel-list {
    width: 5310px;
    height: 470px;

    .carousel-item {
      float: left;
      width: 590px;
      height: 100%;

      &.active {
        z-index: 1;
      }

      &.carousel-lk {
        display: block;
        height: 100%;
      }
    }
  }
}